/* .social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 5.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
} */

/* .propic2:hover{
    display: inline-block;
    height: 3.5rem;
    width: 5.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    background-image: url("/img/AngularJS.png") no-repeat 0 -50;
} */